

.container{
    display:flex;
    align-items: center;

    max-height: 50%;
    width: 100%;
    padding: 20px;

    z-index: 5;
    background-color: rgb(245, 245, 245);
    gap: 5px;
    box-shadow: 1px -5px 20px -10px rgba(0,0,0,0.3);

}
.textInput{
    flex-grow: 1;
    max-height :95%;
}

