$YOUBIKE_LIGHT_GREEN :rgb(181, 205, 34);
$YOUBIKE_DARK_GREEN: rgb(103, 117,17);
$YOUBIKE_LIGHT_GRAY: rgb(246,246,246);
$YOUBIKE_DARK_GRAY: rgb(174, 174, 174);

$BREAKPOINT_1: 1000px;
$BREAKPOINT_2: 600px;